.mobile {
   display: block;
}

.desktop {
   display: none;
}

body {
   scroll-behavior: smooth;
   overflow-x: hidden !important;
   max-width: 100%;
}

* {
   -webkit-overflow-scrolling: touch;
}

/* Utility Classes */

h1 {
   font-size: 35px;
   padding-bottom: 10px;
}

h3 {
   font-size: 14px;
}

h6 {
   font-size: 16px;
}

.section {
   padding: 75px 0; 
}

/* Landing Page */

header {
   width: 100%;
   background-color: var(--surface-color);
   background: none;
}

.welcome-text {
   padding: 0px 20px;
   height: 100vh;
}

.fixed {
   position: relative;
   margin-top: 35px;
   padding-left: 0;
   padding-bottom: 0;
}

/* 
.descriptor {
   padding-top: 5px
} */

.socials {
   margin-top: 0px;
}

.socials li{
   margin-right: 25px;
   display: inline-block;
}

.socials li i {
   font-size: 20px;
}

.nav-links {
   font-size: 12px;
   justify-content: center;
   margin-top: 30px;
}

.nav-links li a {
   margin-right: 15px;
}

.nav-links span {
   padding: 5px 10px;
}

/* About Suraj */

.about-grid {
   display: block;
}

.about-image img {
   margin-top: 35px;
   margin-left: 0px;
}

.content {
   top: 52%;
   left: 50%;
   height: 100px;
   font-size: 20px;
   width: 100%;
   text-align: center;
}

.content__container__list {
   text-align: center;
}

/* Work Experience */

.swiper-container-mobile {
   width: 300px !important;
   height: 105px;
   margin-left: auto;
   margin-right: auto;
}

.content__container:before {
   content: none;
}

.content__container:after {
   content: none;
}


.swiper-slide h5 {
   font-size: 18px;
   padding-bottom: 10px;
   font-weight: 700;
}

.swiper-slide h6 {
   font-size: 12px;
   color: var(--primary-color);
}

.container-2 {
   width: 300px;
   overflow: hidden;
}

.swiper-wrapper {
   width: auto;
} 

.experience-arrow {
   margin: 0;
   padding: 0;
}

#experience-mobile .section-head {
   margin-bottom: 0px;
}

/* CTA */

.cta {
   padding-top: 20px;
   width: 100%;
   color: #ffffff;
   position: relative;
   left: auto;
}


/* Software Projects */

.project-grid {
   display: block;
}

.project {
   margin: 15px 0px;
   height: 165px;
}

.project-row {
   display: grid;
   padding-top: 10px;
   grid-template-columns: 10px 200px 100px;
}

/* Consulting Work */

.consulting-grid {
   display: block;
}

.deck-cover {
   padding-bottom: 30px;
}

/* Contact */

.footer-links li{
   margin-right: 5px;
}

.fade-mobile {
   opacity: 1;
}

.copyright p {
   padding-bottom: 5px;
}