.footer-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;
}

.copyright hr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-width: 0.75px;
    width: 50%
}

.name:hover {
    font-weight: 500;
    color: black;
    opacity: 0.9;
}

.footer-title {
    padding-bottom: 20px;
    font-weight: 600;
}

.footer-link {
    text-align: right;
    margin-right: 120px;
}

.reachout {
    color: black;
    opacity: 0.7;
}

.reachout:hover {
    cursor: pointer;
    font-weight: 700;
}