.image1 {
   display:none;
}

.image2 {
   display: block
}

.section-freelance {
   display: none;
}

#contact {
   display: none;
}

.footer {
   padding: 0;
   padding-bottom: 25px;
}

#connect1 {
   display: none;
}

#connect2 {
   display: block;
}

#contact1 {
   display: none;
}

#contact2 {
   display: block;
}

#contact2 p, #contact2 a {
   text-align: center;
}
#fixedFooter p a {
   font-weight: 500;
}

.footer {
   margin: 0;
   padding: 10px;
}

.footer p {
   font-size: 0.7rem;
}

#projects1 {
   display: none;
}

#projects2 {
   display: block;
}